@font-face {
  font-family: ametist;
  src: url('../../assets/fonts/Amethyst.ttf');
}

@keyframes shineText {
  0%   {text-shadow: none;}
  100% {text-shadow: 4px 2px 2px rgba(255, 255, 255, 1);}
}

@keyframes shineBox {
  0% {box-shadow: none;}
  100% {box-shadow: 2px 5px 50px 0px rgba(250,250,250,1)}
}

.controller-tablet{
  border: 10px solid #000;
  margin-top: 30px;
  content: "";
  border-radius: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url("../../assets/img/viselements/bg/backgroundIntro.png") no-repeat center center;
  background-size: cover;
  min-height: 64vh;
}

a:active, a:focus, a:visited{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #FF94A4;
  text-decoration: none;
}

img
{
  display: inline-block;
  vertical-align: middle;
}

.help, .start, .language
{
  text-align: center;
  margin: auto;
  min-width: 23rem;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 5px;
  margin: 0 0.7rem;
  float: left;
  border-radius: 65px;
  font-family: 'ametist', cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  line-height: 3rem;
}

.action-button i
{
  font-size: 3rem;
}

.white
{
  background-color: transparent;
  border: 5px solid darkgrey;
}

.dark
{
  background-color: transparent;
  border: none;
  border-bottom: none;
}

.action-button:hover .action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
  opacity: 0.65;
  color: white;
}

.buttons
{
  float: none;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 7%;
}

.mini
{
  padding: 0px;
  box-shadow: none;
  border-radius: 100px;
  margin: 0px 33px 30px 0px;
}


.modal-body, .modal-header
{
  font-family: 'ametist', cursive;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background-color: #3f3f3f;
}

.start
{
/*  animation: shineText 2s linear 2s infinite alternate;*/
}

.shine
{
  animation: shineBox 2s linear 2s infinite alternate;
}
.logo-row {
/*  padding-bottom: 15%;*/
}

.logo {
  margin-bottom: 30%;
  margin-top: 15%;
}


