@font-face {
  font-family: ametist;
  src: url('../../assets/fonts/Amethyst.ttf');
}

@font-face {
  font-family: alpha54;
  src: url('../../assets/fonts/Alpha54.ttf');
}

@keyframes shineText {
  0%   {text-shadow: none;}
  100% {text-shadow: 4px 2px 2px rgba(255, 255, 255, 1);}
}

@keyframes shineBox {
  0% {box-shadow: none;}
  100% {box-shadow: 2px 5px 50px 0px rgba(250,250,250,1)}
}

.controller-tablet{
  border: 10px solid #000;
  margin-top: 30px;
  content: "";
  border-radius: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url("../../assets/img/viselements/bg/backgroundOut.jpg") no-repeat center center;
  background-size: cover;
  min-height: 60vh;
}

.receipt
{
  margin-top: -50px;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 100%;
  margin: auto;
}

.centre-text
{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.thanks.centre-text{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.logo
{
  width: auto;
  max-height: 300px;
  margin: auto;
}


.receipt .take-receipt
{

  line-height: normal;
  color: #fff;
  font-family: 'ametist', cursive;
  font-size: 3.5rem;
}

.thanks
{
/*  height: 250px;*/
/*  width: 500px;*/
  margin: auto;
/*  position: absolute;*/
/*  top: 850px; left: 0; bottom: 0; right: 0;*/
}

.thanks .thanks-span
{
  line-height: normal;
  color: #fff;
  font-family: 'alpha54', cursive;
  font-size: 6rem;
  font-weight: lighter;
  font-style: italic;
  text-decoration: underline;
}


.receipt
{
  animation: shineBox 2s linear 2s infinite alternate, shineText 2s linear 2s infinite alternate;
}
.logo-row {
  max-height: 25%;
}
