body{
  font-family: 'Droid Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.navigation .center{
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.mirror-frame{
  margin-top: 20px;
  border: 4px solid #ccc;
  padding: 20px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-size: auto 100%;
}

.mirror-frame>img{
  margin:auto;
  display: block;
  max-width: 100%;
}

.mirror-frame img#model {
  clear: both;
}

.tops, .bottoms, .accessories {
  max-width: 100%;
  display: none;
}

.tops>a>img, .bottoms>a>img, .shoes>a>img {
  max-height: 100%;
  margin: 0 auto;
}

.sidebar {
  border-bottom-left-radius: 2rem;
  width: 10%;
  position: fixed;
  height: 420px;
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-top: 60px;
  float: left;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar-right {
  display: flex;
  border-bottom-right-radius: 2rem;
  width: 200px;
  position: absolute;
  height: 420px;
  right: -180px;
  z-index: 50;
  margin-top: 60px;
  float: right;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar.clothes-picker{
  float: right;
  right: 0;
}

.sidebar.status{
  float: left;
  left: 0;
}

.modal-placeholder {
  z-index: 150;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.modal-backdrop {
  display:none
}

.modal-backdrop.in {
  opacity: 0;
}

#pickerModal.modal, #itemModal.modal {
  position: relative;
}

#pickerModal .modal-content{
  background-color: rgba(105, 105, 105, 0.85);
}

#pickerModal .modal-title{
  color: #fff;
}

#pickerModal .modal-content p{
  color: #fff;
}

.thing{
  z-index: 50;
}

.thing img{
  cursor: pointer;
}



.thing .thing-thumb {
  height: 100px;
  margin: 0 auto;
  max-width: 100%;
}

.thing-card p.badge{
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.50);
}

.thing .colourBall{
  z-index: 100;
  position: absolute;
  top: 0;
  right: 5px;
  width:25px;
  height:25px;
  border-radius:100%;
}
.controller-tablet {
  overflow: hidden;
  position:absolute;
  top: 20px;
  right: 5%;
  border: 10px solid #000;
  background-color: #fff;
  height: 500px;
  border-radius: 2rem;
  overflow-y: scroll;
}

.controller-content {
  padding-top: 70px;
}

/*
* Navbar
*/

.top-header {
  height: 140px !important;
}

.navigation {
  margin-bottom: 0;
  width: 100%;
  position: fixed;
  margin-top: 0;
  margin-left: -15px;
  height: 60px;
  background-color: #fff;
  z-index: 100;
  border-radius: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.navbar-default {
  border-color: #DBDBDB;
}

.navigation .navbar-nav>li>a{
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation .navbar-nav>li.active>a{
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: none;
  background-color: #DBDBDB;
}

.navigation .navbar-brand {
  height: auto;
  padding: 5px 20px;
  text-align: center;
}


h2.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.underslide{
  position: relative;
  color: #000;
  text-decoration: none;
}

.underslide:hover{
  color: #000;
}

.underslide:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  /*  -webkit-transition: 0.2s ease;*/
  transition: all 0.2s ease-in-out 0s;
  /*  transition: 0.2s ease;*/
}

.underslide:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*
* Stuff Cards
*/

.controller-tablet .thing-card{
  margin-top: 70px;
  margin-left: 18px;
}

.thing-card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  max-width: 300px;
  margin: 10px auto;
  background-color: #fff;
}

h5.thing-card-title {
  font-size: 0.95em;
  clear: both;  
  vertical-align: middle;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1em;
  white-space: nowrap;
  overflow: hidden;
}

.thing-card-img {
  height: 250px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.thing-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80%;
  height: auto;
}

.sidebar-item {
  padding: 13px 10px;
  transition:background .5s ease;
}

.sidebar-item.active {
  background-color: #666;
  color: #fff;
}

.sidebar-item:hover {
  background-color: #dbdbdb;
  color:#333;
}

.sidebar-list {
  transition:.5s;
}

ul.nav li.active {
  transition:background 0.7s ease;
}

#thingCardTemplate {
  display:none;
}

.main-container {
  width: 1080px;
}

.colour {
  margin: 3px;
  float: left;
  width: 20px;
  height: 20px;
}

.thing-card-colours .colour {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25),0 2px 4px 0 rgba(0,0,0,0.25) !important;
}

#thingTemplate {
  display: none;
}

#itemModalTemplate {
  display: none;
}

.popup{
  position: relative;
  z-index: 50;
  left: 15%;
}

#thingImg {
  margin: 0 auto;
  max-width: 50%; 
}

#pickerListButton {
  vertical-align: middle;
}

.popup .row {
  /*padding: 20px;*/
  padding-top: 25px;
}

.popup .modal-header i.fa {
  margin: 0 5px;
}

img {
  transition: all 0.3s;
}

.popup-modal {
  padding: 0;
  padding-left: 50px;
  overflow: hidden;

}

img.picked-item-thumb {
  max-height: 70px;
  width: auto;
  margin: 0 auto;
}

#pickedItemTemplate {
  display: none;
}

.items-list .picked-item{
  clear: both;
  z-index: 9999;
}

.removeButton {
  position: absolute;
  color: #F00;
  top: 5px;
  right: 5px;
}

.thumb-container {
  float: right;
  position: relative;
}

.item-badge {
  left: 5px;
  top: 5px;
}

.item-description {
/*  width: 250px;*/
  position: relative;
/*  left: 35px;*/
  display: block;
  padding: 0;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,0.12);
}

.item-specifics, .item-story {
  width: 250px;
  text-align: left;
}

.item-story {
  padding-top: 10px;
}

.save-button {
  height: 50px;
  width: 100px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 55px;
}

.descTitle, .itemTitle {
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}

.item-description ul {
  line-height: 160%;
}

.item-description .thing-card-colours {
  padding-left: 40px;
  padding-bottom: 50px;
}

.items-list {
  width: 70%;
  float: right;
}

.TOTAL {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 100%;
}